/* You can add global styles to this file, and also import other style files */

.centralized-text {
  text-align: center
}

.centralized-content {
  margin-left: auto;
  margin-right: auto;
}

input.rounded {
  border: 1px solid #ffc900;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  font-size: 20px;
  padding: 4px 7px;
  outline: 0;
  -webkit-appearance: none;
}

